<div class="container">
  <form>
    <div class="mb-3 mt-3" hidden>
      <label for="id" class="form-label">id:</label>
      <input type="text" class="form-control" id="id" name="id">
    </div>
    <div class="mb-3 mt-3">
      <label for="name1" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name1" placeholder="Enter name" name="name" value="thuan">
    </div>
    <div class="mb-3 mt-3">
      <label for="birthday" class="form-label">Birthday:</label>
      <input type="date" class="form-control" id="birthday" placeholder="Enter birthday" name="birthday" value="1999-09-18">
    </div>
    <div class="mb-3 mt-3">
      <label class="form-label"></label>
      <select class="form-control">
        <option>Nam</option>
        <option >Nữ</option>
        <option >Lgbt</option>
      </select>

    </div>
    <div class="mb-3 mt-3">
      <label for="id_card" class="form-label">Id card:</label>
      <input type="text" class="form-control" id="id_card" placeholder="Enter id_card" name="id_card" value="4531678">
    </div>
    <div class="mb-3 mt-3">
      <label for="phone" class="form-label">Phone:</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone" value="0944192105">
    </div>
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Email:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" value="tthuan@gmail.com">
    </div>
    <div class="mb-3 mt-3">
      <label for="address" class="form-label">Address:</label>
      <input type="text" class="form-control" id="address" placeholder="Enter address" name="address" value="Đà nẵng">
    </div>
    <div class="mb-3 mt-3">
      <label class="form-label"></label>
      <select class="form-control">
        <option >vip1</option>
        <option >vip2</option>
        <option >vip3</option>
      </select>
    </div>
    <input type="submit" class="btn btn-info" value="edit">
    <a class="btn btn-secondary" routerLink="/customer-list">Back</a>

  </form>


</div>
