<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Singer</th>
                <th>Category</th>
                <th>Link</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Delete 2</th>
            </tr>
            <tr th:each="songList : ${songList}">
                <td th:text="${songList.getId()}"></td>
                <td th:text="${songList.getName()}"></td>
                <td th:text="${songList.getSinger()}"></td>
                <td th:text="${songList.getCategory()}"></td>
                <td th:text="${songList.getLink()}"></td>
                <td><a th:href="@{/edit/{id}(id=${songList.getId()})}">edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${songList.getId()})}">delete</a></td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                            th:data-target="'#staticBackdrop' + ${songList.id}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="staticBackdrop + ${songList.id}" data-backdrop="static"
                         data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Do you want delete product <span class="text-info" th:text="${songList.name}"></span> with
                                    id = <span class="text-info" th:text="${songList.id}"></span>
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/delete1/{id}(id=${songList.id})}" class="btn btn-outline-success">Delete</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <a th:href="@{/create}" class="btn btn-primary" >create</a>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>