<div class="container villa">
  <form class="bg-white"  [formGroup]="facilityForm" (ngSubmit)="submit()">
    <div class="mb-3 mt-3">
      <label for="facilityType" class="form-label">Facility Type</label>
      <select class="form-control" name="facilityType" id="facilityType"
              onchange="onchangeFacility(this.value)" formControlName="facilityType" [compareWith]="compareFacility" [(ngModel)]="facilityUpdate.facilityType">
        <option *ngFor="let facilityType of facilityTypeList" [ngValue]="facilityType">{{facilityType.name}}</option>
      </select>
    </div>
    <div class="mb-3 mt-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="name"
             formControlName="name">
    </div>
    <div class="mb-3 mt-3">
      <label for="area" class="form-label">Area:</label>
      <input type="text" class="form-control" id="area" placeholder="Enter area" name="area" formControlName="area">
    </div>
    <div class="mb-3 mt-3">
      <label for="cost" class="form-label">Cost:</label>
      <input type="text" class="form-control" id="cost" placeholder="Enter cost" name="cost" formControlName="cost">
    </div>
    <div class="mb-3 mt-3">
      <label for="maxPeople" class="form-label">Max people:</label>
      <input type="text" class="form-control" id="maxPeople" placeholder="Enter max people" name="maxPeople" formControlName="maxPeople">
    </div>
    <div class="mb-3 mt-3">
      <label for="standardRoom" class="form-label">Standard room:</label>
      <input type="text" class="form-control" id="standardRoom" placeholder="Enter standard room"
             name="standardRoom" formControlName="standardRoom">
    </div>
    <div class="mb-3 mt-3">
      <label for="descriptionOtherConvenience" class="form-label">Description other convenience:</label>
      <input type="text" class="form-control" id="descriptionOtherConvenience"
             placeholder="Enter description Other Convenience" name="descriptionOtherConvenience" formControlName="descriptionOtherConvenience">
    </div>
    <div class="mb-3 mt-3 house room">
      <label for="poolArea" class="form-label ">Pool area:</label>
      <input type="text" class="form-control" id="poolArea" placeholder="Enter poolArea" name="poolArea" formControlName="poolArea">
    </div>
    <div class="mb-3 mt-3 room">
      <label for="numberOfFloors" class="form-label ">Number of floors:</label>
      <input type="text" class="form-control" id="numberOfFloors" placeholder="Enter number Of Floors"
             name="numberOfFloors" formControlName="numberOfFloors">
    </div>
    <div class="mb-3 mt-3">
      <label for="facilityFree" class="form-label">Facility free:</label>
      <input type="text" class="form-control" id="facilityFree" placeholder="Enter facility Free"
             name="facilityFree" formControlName="facilityFree">
    </div>

    <div class="mb-3 mt-3">
      <label for="image" class="form-label">Image:</label>
      <input type="text" class="form-control" id="image" placeholder="Enter image"
             name="image" formControlName="image">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label">Rent Type:</label>
      <select class="form-control" formControlName="rentType" [compareWith]="compareFacility" [(ngModel)]="facilityUpdate.rentType">
        <option *ngFor="let rentType of rentTypeList" [ngValue]="rentType">{{rentType.name}}</option>
      </select>
    </div>

    <input type="submit" class="btn btn-info me-2" value="Edit" [disabled]="facilityForm.invalid" >
    <a routerLink="/facility-list" class="btn btn-secondary">Back</a>
  </form>
</div>
