<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Trang chủ - furama</title>
  <link>
  <link rel="shortcut icon" type="image/png"
        href="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.6435-9/91196518_151889716288463_5846000305799430144_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_ohc=ILchzhLVzNoAX8aZnNY&_nc_ht=scontent.fhan14-2.fna&oh=00_AT-eTN5FqctxeJ7yVp2A8c9Phs_Cx425S8klzH598BB5ug&oe=62DEE3F6"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid">
  <div class="header">
    <div class="row">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.6435-9/91196518_151889716288463_5846000305799430144_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_ohc=ILchzhLVzNoAX8aZnNY&_nc_ht=scontent.fhan14-2.fna&oh=00_AT-eTN5FqctxeJ7yVp2A8c9Phs_Cx425S8klzH598BB5ug&oe=62DEE3F6"
                 alt="Avatar Logo" style="width:40px;" class="rounded-pill">
          </a>
          <a class="navbar-brand" href="#">Trần thuận</a>
        </div>
      </nav>
    </div>
    <!--        menu-->
    <div class="row">
      <nav class="navbar navbar-expand-lg bg-light w-100">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand">Furama resort</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                      aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" th:href='@{/home}'>Home</a>
                  <a class="nav-link active" aria-current="page" th:href='@{/employee}'>Employee</a>
                  <a class="nav-link active" aria-current="page" th:href='@{/customer}'>Customer</a>
                  <a class="nav-link active" aria-current="page" th:href='@{/facility}'>Facility</a>
                  <a class="nav-link active" aria-current="page" th:href='@{/contract}'>Contract</a>
                </div>
              </div>
            </div>
          </nav>
          <form class="d-flex" role="search" th:action="@{/customer/search}" method="post">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                   name="name">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <form th:action="@{/contract/create}" th:object="${contract}" th:method="post">
      <th>facility name</th>
      <th>customer name</th>
      <th>start date</th>
      <th>end date</th>
      <th>deposit</th>
      <th>total</th>
      <th>Attach Facility</th>
      <div class="mb-3 mt-3">
        <label class="form-label">
          <select class="form-control" th:field="*{facility}">
            <option th:each="temp:${facilityList}" th:value="${temp.id}"
                    th:text="${temp.name}"></option>
          </select>
        </label>
      </div>

      <div class="mb-3 mt-3">
        <label class="form-label">
          <select class="form-control" th:field="*{customer}">
            <option th:each="temp:${customerList}" th:value="${temp.id}"
                    th:text="${temp.name}"></option>
          </select>
        </label>
      </div>

      <div class="mb-3 mt-3">
        <label for="startDate" class="form-label">start date:</label>
        <input type="date" class="form-control" id="startDate" placeholder="Enter startDate" name="startDate"
               th:field="*{startDate}">
      </div>

      <div class="mb-3 mt-3">
        <label for="endDate" class="form-label">end date:</label>
        <input type="date" class="form-control" id="endDate" placeholder="Enter endDate" name="endDate"
               th:field="*{endDate}">
      </div>

      <div class="mb-3 mt-3">
        <label for="deposit" class="form-label">deposit:</label>
        <input type="text" class="form-control" id="deposit" placeholder="Enter deposit" name="deposit"
               th:field="*{deposit}">
      </div>

      <button type="button" class="btn btn-primary" data-toggle="modal"
              th:data-target="'#attachFacility'">
        +
      </button>
      <div class="modal fade" th:id="'attachFacility'  " tabindex="-1" role="dialog"
           aria-labelledby="attachFacilityTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="attachFacilityTitle">Danh sách các dịnh vụ đi kèm</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table>
                <tr>
                  <th>tên dịch vụ đi kèm</th>
                  <th>Giá dịch vụ đi kèm</th>
                  <th>Đơn vị</th>
                  <th>Trạng thái</th>
                </tr>
                <tr th:each="contractDetail:${contractDetailList}" >
                  <td th:text="${contractDetail.attachFacility.name}"></td>
                  <td th:text="${contractDetail.attachFacility.cost}"></td>
                  <td th:text="${contractDetail.attachFacility.unit}"></td>
                  <td th:text="${contractDetail.attachFacility.status}"></td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <input type="submit" class="btn btn-outline-primary" value="save">
      <a th:href="@{/contract}" class="btn btn-outline-primary">back</a>
    </form>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>