.header {

    width: 100%;
    height: auto;
    text-align: center;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.column {
    width: 90%;
    height: auto;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 10px;
}

.footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #101010;
    margin-top: 300px;
    color: white;
}
.nav{
    color: white;
    float: left;
    width: 13%;
    height: 40px;
    margin-top: 20px;
}
.nav3{
    /*background-color: blue;*/
    color: white;
    float: left;
    width: 20%;
    height: auto;
    text-align: center;


}
img{
    width: max-content;
    height: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
h3{
    color: #3f94d5;
    font-size: 25px;
}
body{
    background-color: black;
}


