<div class="container">
  <br>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
    <a class="btn btn-info" data-bs-toggle="modal" routerLink="/customer-create">
      Create
    </a>
  </div>
  <br>
  <table class="table table-info">
    <thead>
    <tr class="table-primary">
      <th>No.</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Gender</th>
      <th>Id card</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Type</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customerList;index as i ">

      <td>{{i + 1}}</td>

      <td>{{customer.name}}</td>

      <td>{{customer.birthday}}</td>

      <td *ngIf="customer.gender == 0">Nữ</td>
      <td *ngIf="customer.gender == 1">Nam</td>
      <td *ngIf="customer.gender == 2">Bê đê</td>

      <td>{{customer.idCard}}</td>

      <td>{{customer.phone}}</td>

      <td>{{customer.email}}</td>

      <td>{{customer.address}}</td>

      <td>{{customer.type}}</td>

      <td>
        <a style="border-radius: 10px" class="btn btn-light" routerLink="/customer-edit{{customer.id}}">
          <img src="assets/image/icons/edit.svg"
               alt="Avatar Logo" style="width:20px;" class="rounded-pill">
          Edit
        </a>
      </td>

      <td>
        <a style="border-radius: 10px " class="btn btn-light" data-bs-toggle="modal"
           data-bs-target="#modalDelete" data-target="'#exampleModalLong'">
          <img src="assets/image/icons/trash.svg"
               alt="Avatar Logo" style="width:20px;" class="rounded-pill">
          Delete
        </a>
      </td>
    </tr>

    </tbody>
  </table>
  <!-- Modal delete -->
  <div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDeleteLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you want delete Customer ???
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>
