<div class="container">
  <form >
    <div class="mb-3 mt-3">
      <label class="form-label">Facility name:</label>
      <input type="text" class="form-control"  placeholder="Enter name" name="name">
    </div>
    <div class="mb-3 mt-3">
      <label  class="form-label">customer name:</label>
      <input type="text" class="form-control" placeholder="Enter customer name" name="customerName">
    </div>
    <div class="mb-3 mt-3">
      <label  class="form-label">start date:</label>
      <input type="date" class="form-control" placeholder="Enter start date" name="startDate">
    </div>
    <div class="mb-3 mt-3">
      <label  class="form-label">end date:</label>
      <input type="date" class="form-control" placeholder="Enter end date" name="endDate">
    </div>

    <div class="mb-3 mt-3">
      <label  class="form-label">phone:</label>
      <input type="text" class="form-control"  placeholder="Enter phone" name="phone">
    </div>
    <div class="mb-3 mt-3">
      <label  class="form-label">deposit:</label>
      <input type="text" class="form-control"  placeholder="Enter deposit" name="deposit">
    </div>
    <div class="mb-3 mt-3">
      <label  class="form-label">Attach Facility:</label>
      <input type="text" class="form-control"  placeholder="Enter Attach Facility" name="attachFacility">
    </div>

    <input type="submit" class="btn btn-outline-info me-2" value="Save">
    <a class="btn btn-secondary" routerLink="/contract-list">Back</a>
  </form>


</div>
