<div class="container">
  <br>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
    <a class="btn btn-info" data-bs-toggle="modal" routerLink="/facility-create">
      Create
    </a>
  </div>
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let facilityList of facilityList">
      <div class="col">
        <div class="card h-100">
          <img src="{{facilityList.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{facilityList.name}}</h5>
            <p class="card-text">Diện Tích Phòng: {{facilityList.area}} m²</p>
            <a style="border-radius: 10px ;margin-left: 15px" class="btn btn-light" routerLink="/facility-edit">
              <img src="assets/image/icons/edit.svg"
                   alt="Avatar Logo" style="width:20px;" class="rounded-pill">
              Edit
            </a>
            <a style="border-radius: 10px ;margin-left: 15px" class="btn btn-light" data-bs-toggle="modal"
               data-bs-target="#modalDelete">
              <img src="assets/image/icons/trash.svg"
                   alt="Avatar Logo" style="width:20px;" class="rounded-pill">
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-3">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>


  <!-- Modal Delete -->
  <div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDeleteLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you want delete service?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
