<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>
<h1>Create Song</h1>
<form action="/create" th:object="${songDto}" method="post">
  <label for="fname">Song Name</label>
  <input id="fname" type="text" th:field="*{name}">
  <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

  <label for="artistname">Artist</label>
  <input id="artistname" type="text" th:field="*{artist}">
  <p th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></p>

  <label for="genre">Genre</label>
  <input id="genre" type="text" th:field="*{genre}">
  <p th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></p>

  <button type="submit"> Create </button>
</form>
<style>
  p{
    color: red;
  }
</style>
</body>
</html>