<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <a th:href="@{/create}">Crete New Song</a>
  <p style="color: green" th:text="${messSave}"></p>
  <table border="1">
    <tr>
      <td>ID</td>
      <td>Song Name</td>
      <td>Artist</td>
      <td>Genre</td>
    </tr>
    <tr th:each="song : ${songList}">
      <td th:text="${song.id}"></td>
      <td th:text="${song.name}"></td>
      <td th:text="${song.artist}"></td>
      <td th:text="${song.genre}"></td>
    </tr>
  </table>
</div>
</body>
</html>