<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="assets/images/parallax/bgparallax-07.jpg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tg-innerbannercontent">
          <h1>Các Tác Giả</h1>
          <ol class="tg-breadcrumb">
            <li><a href="javascript:void(0);">Trang Chủ</a></li>
            <li class="tg-active">Các Tác Giả</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<main id="tg-main" class="tg-main tg-haslayout">
  <!--************************************
      Authors Start
  *************************************-->
  <div class="tg-authorsgrid">
    <div class="container">
      <div class="row">
        <div class="tg-authors">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="tg-sectionhead">
              <h2><span>Những Ý Tưởng Mạnh Mẽ Đằng Sau Chúng Ta</span>Tác Giả Nổi Tiếng Nhất</h2>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-03.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-04.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-05.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-06.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-07.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-08.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-20.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-15.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-14.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-15.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-16.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-17.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-18.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-19.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-20.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-21.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-22.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="tg-author">
              <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-23.jpg" alt="image description"></a></figure>
              <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                <span>21,658 Sách Đã Xuất Bản</span>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--************************************
      Authors End
  *************************************-->
  <!--************************************
      Testimonials Start
  *************************************-->
  <section class="tg-parallax tg-bgtestimonials tg-haslayout" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="assets/images/parallax/bgparallax-05.jpg">
    <div class="tg-sectionspace tg-haslayout">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-push-2">
            <div id="tg-testimonialsslider" class="tg-testimonialsslider tg-testimonials owl-carousel">
              <div class="item tg-testimonial">
                <figure><img src="../../../assets/images/author/imag-01.jpg" alt="image description"></figure>
                <blockquote><q>Có thể sẽ tăng cân, nhưng sẽ xảy ra vào thời điểm mà với nỗ lực lớn, tôi sẽ trở nên nhỏ bé, và không ai sẽ tham gia bất kỳ buổi tập nào của chúng tôi trừ khi đó là một lợi thế.</q></blockquote>
                <div class="tg-testimonialauthor">
                  <h3>Holli Fenstermacher</h3>
                  <span>Manager @ CIFP</span>
                </div>
              </div>
              <div class="item tg-testimonial">
                <figure><img src="../../../assets/images/author/imag-02.jpg" alt="image description"></figure>
                <blockquote><q>Có thể sẽ tăng cân, nhưng sẽ xảy ra vào thời điểm mà với nỗ lực lớn, tôi sẽ trở nên nhỏ bé, và không ai sẽ tham gia bất kỳ buổi tập nào của chúng tôi trừ khi đó là một lợi thế.</q></blockquote>
                <div class="tg-testimonialauthor">
                  <h3>Holli Fenstermacher</h3>
                  <span>Manager @ CIFP</span>
                </div>
              </div>
              <div class="item tg-testimonial">
                <figure><img src="../../../assets/images/author/imag-03.jpg" alt="image description"></figure>
                <blockquote><q>Có thể sẽ tăng cân, nhưng sẽ xảy ra vào thời điểm mà với nỗ lực lớn, tôi sẽ trở nên nhỏ bé, và không ai sẽ tham gia bất kỳ buổi tập nào của chúng tôi trừ khi đó là một lợi thế.</q></blockquote>
                <div class="tg-testimonialauthor">
                  <h3>Holli Fenstermacher</h3>
                  <span>Manager @ CIFP</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-great-books></app-great-books>
</main>
