<!doctype html>
<!--suppress ALL -->
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container" sec:authorize="isAuthenticated()">
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>year</th>
            <th>name</th>
            <th>content</th>
            <th>Category</th>
            <th sec:authorize="hasRole('ADMIN')">edit</th>
            <th sec:authorize="hasRole('ADMIN')">delete</th>
            <th sec:authorize="hasRole('USER')">view</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog :${blogList}">
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.year}"></td>
            <td th:text="${blog.name}"></td>
            <td >
                <textarea th:text="${blog.content}" rows="4" cols="20" readonly></textarea>
            </td>
            <td th:text="${blog.category.name}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/edit/{id}(id= ${blog.id})}">edit</a>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/delete/{id}(id= ${blog.id})}">delete</a>
            </td>
            <td sec:authorize="hasRole('USER')">
                <a th:href="@{/view/{id}(id= ${blog.id})}">view</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/'(page=${blogList.number -1})}" th:if="${blogList.hasPrevious()}" class="btn btn-outline-secondary me-3">Previous</a>
        <span th:text="${blogList.number + 1}"></span> /
        <span th:text="${blogList.totalPages}"></span>
        <a th:href="@{'/'(page = ${blogList.number + 1})}" th:if="${blogList.hasNext()}" class="btn btn-outline-secondary ms-3">Next</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/create}" class="btn">create</a>
    </div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>