<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>list</title>
    <link>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid">
    <div class="header">
        <div class="row">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark w-100">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.6435-9/91196518_151889716288463_5846000305799430144_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_ohc=ILchzhLVzNoAX8aZnNY&_nc_ht=scontent.fhan14-2.fna&oh=00_AT-eTN5FqctxeJ7yVp2A8c9Phs_Cx425S8klzH598BB5ug&oe=62DEE3F6"
                             alt="Avatar Logo" style="width:40px;" class="rounded-pill">
                    </a>
                    <a class="navbar-brand" href="#">Trần thuận</a>
                </div>
            </nav>
        </div>
        <!--        menu-->
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-light w-100">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand">Tin Tức</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav">
                                    <a class="nav-link active" aria-current="page" th:href='@{/home}'>Home</a>
                                    <a class="nav-link active" aria-current="page" th:href='@{/tinTuc}'>Tin Tức</a>
<!--                                    <a class="nav-link active" aria-current="page" th:href='@{/customer}'>Customer</a>-->
<!--                                    <a class="nav-link active" aria-current="page" th:href='@{/facility}'>Facility</a>-->
<!--                                    <a class="nav-link active" aria-current="page" th:href='@{/contract}'>Contract</a>-->
                                </div>
                            </div>
                        </div>
                    </nav>
                    <form class="d-flex" role="search" th:action="@{/tinTuc}" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                               name="nameSearch">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </nav>
        </div>

    </div>
    <div>
        <table class="table">
            <tr>
                <th>Stt</th>
                <th>Tiêu đề</th>
                <th>Danh mục</th>
                <th>Ngày đăng tin</th>
                <th>Phóng Viên</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="tinTuc,loop: ${tinTucList}">
                <td th:text="${tinTuc.maTinTuc}" hidden></td>
                <td th:text="${loop.count}"></td>
                <td th:text="${tinTuc.tieuDe}"></td>
                <td th:text="${tinTuc.danhMuc.name}"></td>
                <td th:text="${tinTuc.ngayDangTin}"></td>
                <td th:text="${tinTuc.phongVien}"></td>
                <td>
                    <!-- -----------------------modal delete----------------------- -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            th:data-target="'#exampleModalLong' + ${tinTuc.maTinTuc}">
                        Xoá
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" th:id="'exampleModalLong' + ${tinTuc.maTinTuc} " tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Xoá tin tức</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có muốn xoá tin tức có tiêu đề <span class="text-info"
                                                                             th:text="${tinTuc.tieuDe}"></span> không ?
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/tinTuc/delete/{maTinTuc}(maTinTuc= ${tinTuc.maTinTuc})}"
                                       class="btn btn-outline-success">Xoá</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <!-- -----------------------modal delete----------------------- -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            th:data-target="'#chiTiet' + ${tinTuc.maTinTuc}">
                        Xem Thêm
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" th:id="'chiTiet' + ${tinTuc.maTinTuc} " tabindex="-1" role="dialog"
                         aria-labelledby="chiTietTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="chiTietTitle">Chi Tiết</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3 mt-3">
                                        <label class="form-label">Tiêu đề:
                                        <span th:text="${tinTuc.tieuDe}"/>
                                        </label>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label  class="form-label">Nội dung:
                                            <span th:text="${tinTuc.noiDung}"/>
                                        </label>
                                        <div class="mb-3 mt-3">
                                            <label class="form-label">Ngày đăng tin:
                                                <span th:text="${tinTuc.ngayDangTin}"/>
                                            </label>
                                        </div>
                                        <div class="mb-3 mt-3">
                                            <label class="form-label">Phóng viên:
                                                <span th:text="${tinTuc.phongVien}"/>
                                            </label>
                                        </div>

                                        <div class="mb-3 mt-3">
                                            <label class="form-label">Danh Mục:
                                                <span th:text="${tinTuc.danhMuc.name}"/>
                                            </label>
                                        </div>
                                        <!--      <input type="submit" class="btn btn-outline-primary" value="save">-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
        </table>
        <a th:href="@{/tinTuc/create}" class="btn btn-outline-primary">Thêm tin</a>
        <div class="row">
            <div class="col-2 ">
                <ul class="pagination" th:if="${tinTucList.totalPages > 0}">
                    <li class="page-item">
                        <a class="page-link" th:if="${tinTucList.hasPrevious()}"
                           th:href="@{'/tinTuc'(page=${tinTucList.number - 1}, nameSearch=${nameSearch})}">
                            Previous
                        </a>
                    </li>
                    <div th:each="item : ${#numbers.sequence(1, tinTucList.totalPages )}">
                        <div th:if="${(tinTucList.number + 1) == item}">
                            <li class="page-item active">
                                <a class="page-link" href="#" th:text="${item}"
                                   th:href="@{/tinTuc(page=(${item}-1),nameSearch=${nameSearch})}"></a>
                            </li>
                        </div>
                        <div th:unless="${((tinTucList.number + 1) == item)}">
                            <li class="page-item">
                                <a class="page-link" href="#" th:text="${item}"
                                   th:href="@{/tinTuc(page=(${item}-1), nameSearch=${nameSearch})}"></a>
                            </li>
                        </div>
                    </div>
                    <li class="page-item">
                        <a class="page-link" th:if="${tinTucList.hasNext()}"
                           th:href="@{'/tinTuc'(page=${tinTucList.number + 1}, nameSearch=${nameSearch})}">
                            Next
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p style="color: green" th:text="${mess}"></p>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>