<footer id="tg-footer" class="tg-footer tg-haslayout">
  <div class="tg-footerarea">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="tg-clientservices">
            <li class="tg-devlivery">
              <span class="tg-clientserviceicon"><i class="icon-rocket"></i></span>
              <div class="tg-titlesubtitle">
                <h3>Chuyển Phát Nhanh</h3>
                <p>Vận Chuyển Trên Toàn Quốc</p>
              </div>
            </li>
            <li class="tg-discount">
              <span class="tg-clientserviceicon"><i class="icon-tag"></i></span>
              <div class="tg-titlesubtitle">
                <h3>Phiếu Giảm Giá 	&nbsp;	&nbsp;	&nbsp;</h3>
                <p>Cung Cấp Chiết Khấu</p>
              </div>
            </li>
            <li class="tg-quality">
              <span class="tg-clientserviceicon"><i class="icon-leaf"></i></span>
              <div class="tg-titlesubtitle">
                <h3>Xem Xét Chất Lượng</h3>
                <p>Công Việc Chất Lượng Xuất Bản</p>
              </div>
            </li>
            <li class="tg-support">
              <span class="tg-clientserviceicon"><i class="icon-heart"></i></span>
              <div class="tg-titlesubtitle">
                <h3>Hỗ Trợ 24/7 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
                <p>Phục Vụ mọi lúc</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="tg-threecolumns">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="tg-footercol">
              <strong class="tg-logo"><a href="javascript:void(0);"><img src="../../../assets/images/flogo.png" alt="image description"></a></strong>
              <ul class="tg-contactinfo">
                <li>
                  <i class="icon-apartment"></i>
                  <address>295 Nguen Tat Thanh - Da Nang</address>
                </li>
                <li>
                  <i class="icon-phone-handset"></i>
                  <span>
												<em>0800 12345 - 678 - 89</em>
												<em>+94 944-192-105</em>
											</span>
                </li>
                <li>
                  <i class="icon-clock"></i>
                  <span>Phục Vụ 7 Ngày Trong Tuần 24/7</span>
                </li>
                <li>
                  <i class="icon-envelope"></i>
                  <span>
												<em><a href="mailto:tranthuan1809@gmail.com">support@domain.com</a></em>
												<em><a href="mailto:info@domain.com">info@domain.com</a></em>
											</span>
                </li>
              </ul>
              <ul class="tg-socialicons">
                <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="tg-footercol tg-widget tg-widgetnavigation">
              <div class="tg-widgettitle">
                <h3 class="text-capitalize">Thông tin trợ giúp và vận chuyển</h3>
              </div>
              <div class="tg-widgetcontent">
                <ul>
                  <li><a href="javascript:void(0);">Điều Khoản Sử Dụng</a></li>
                  <li><a href="javascript:void(0);">Điều Khoản Bán Hàng</a></li>
                  <li><a href="javascript:void(0);">Lợi Nhuận</a></li>
                  <li><a href="javascript:void(0);">Sự Riêng Tư</a></li>
                  <li><a href="javascript:void(0);">Cookies</a></li>
                  <li><a href="javascript:void(0);">Liên Hệ Chúng Tôi</a></li>
                  <li><a href="javascript:void(0);">Các Chi Nhánh Của Chúng Tôi</a></li>
                  <li><a href="javascript:void(0);">Tầm Nhìn &amp; Mục Đích</a></li>
                </ul>
                <ul>
                  <li><a href="javascript:void(0);">Câu Chuyện Của Chúng tôi</a></li>
                  <li><a href="javascript:void(0);">Đội Của Chúng Tôi</a></li>
                  <li><a href="javascript:void(0);">FAQ</a></li>
                  <li><a href="javascript:void(0);">Chứng Thực</a></li>
                  <li><a href="javascript:void(0);">Gia Nhập Đội Ngũ Của Chúng Tôi</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="tg-footercol tg-widget tg-widgettopsellingauthors">
              <div class="tg-widgettitle">
                <h3 class="text-capitalize">Tác giả bán chạy nhất</h3>
              </div>
              <div class="tg-widgetcontent">
                <ul>
                  <li>
                    <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-09.jpg" alt="image description"></a></figure>
                    <div class="tg-authornamebooks">
                      <h4><a href="javascript:void(0);">Jude Morphew</a></h4>
                      <p class="text-capitalize">21,658 Sách đã xuất bản</p>
                    </div>
                  </li>
                  <li>
                    <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-10.jpg" alt="image description"></a></figure>
                    <div class="tg-authornamebooks">
                      <h4><a href="javascript:void(0);">Shaun Humes</a></h4>
                      <p class="text-capitalize">20,257 Sách đã xuất bản</p>
                    </div>
                  </li>
                  <li>
                    <figure><a href="javascript:void(0);"><img src="../../../assets/images/author/imag-11.jpg" alt="image description"></a></figure>
                    <div class="tg-authornamebooks">
                      <h4><a href="javascript:void(0);">Kathrine Culbertson</a></h4>
                      <p class="text-capitalize">15,686 Sách đã xuất bản</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tg-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h4 class="text-capitalize">Đăng ký bản tin!</h4>
          <h5>Consectetur adipisicing elit sed do eiusmod tempor incididunt.</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<!--          <form class="tg-formtheme tg-formnewsletter">-->
<!--            <fieldset>-->
<!--              <input type="email" name="email" class="form-control" placeholder="Enter Your Email ID">-->
<!--              <button type="button"><i class="icon-envelope"></i></button>-->
<!--            </fieldset>-->
<!--          </form>-->
        </div>
      </div>
    </div>
  </div>
  <div class="tg-footerbar">
    <a id="tg-btnbacktotop" class="tg-btnbacktotop" href="javascript:void(0);"><i class="icon-chevron-up"></i></a>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <span class="tg-paymenttype"><img src="../../../assets/images/paymenticon.png" alt="image description"></span>
          <span class="tg-copyright">2022 &copy; Book Library</span>
        </div>
      </div>
    </div>
  </div>
</footer>
