<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="#" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <img src="../../assets/image/logo/logo.jpeg" class="bi me-2" style="border-radius: 30%;width: 40px;height: 40px"
             alt="logo">
      </a>
      <p class="text-muted">© 2022 Turama benh vien Danang</p>
    </div>

    <div class="col">

    </div>
    <div class="col">
      <h5>Về Turama.com</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Chúng tôi</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Turama Blog</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Dịch vụ miễn phí</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Thông Tin Cần Biết</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Điều kiện & Điều khoản</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Quy chế hoạt động</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Câu hỏi thường gặp</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Đối tác</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Quy chế bảo hiểm</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Yêu cầu bồi thường </a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Quy chế trả góp</a></li>
      </ul>
    </div>
    <div class="col">

    </div>
  </footer>
</div>
